{% extends "base.html" %}
{% load static %}
{% block headtitle %}Нет Доступа{% endblock %}

{% block content %}
    <section title="Forbidden" data-role="content" data-theme="e">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 flex" src="{% static 'images/snow.jpg' %}" alt="First slide">
        <div class="carousel-caption">
        <div class="container text-center pt-3">
            <h2>Извините, у вас отсутствует доступ</h2>
            <button type="button" class="myButt two" onclick="location.href='{% url "home" %}'"><h5>На главную</h5></button>
        </div>
        </div>
      </div>
    </div>
    </div>

    </section>
{% endblock %}
