{% extends "base.html" %}
{% load static %}

{% block title %} Обо мне {% endblock %}
{% block title_in_body %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading text-center">
    Обо мне
  </h4>
</div>
{% endblock %}


{% block content %}
<div class = "container">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum
sapien et tincidunt porta. Sed euismod nunc sit amet massa maximus tempor.
Suspendisse sollicitudin mattis lacus, ut lacinia neque rutrum in. Donec a nunc
erat. Nam vel est quam. Etiam vel tortor quis dolor eleifend consequat. Praesent
condimentum consectetur dapibus. In et libero placerat, venenatis felis a,
hendrerit ipsum. Orci varius natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Ut ut diam ac odio ullamcorper facilisis. In dignissim
nunc ut rutrum pellentesque. Proin euismod sollicitudin est vitae mattis. Aenean
et urna ac dolor cursus tincidunt eget quis tortor. Fusce diam turpis, elementum
vel metus non, ullamcorper tempor turpis. Suspendisse ac metus venenatis lorem
finibus lobortis non vitae augue. Quisque rutrum justo neque, id sagittis quam
vestibulum condimentum.

Vestibulum ornare ex quis consequat volutpat. Vivamus ultrices eget magna eget
congue. Phasellus dictum cursus ex, pellentesque bibendum felis aliquet at.
Aenean ut est quis quam elementum venenatis iaculis finibus sem. Pellentesque at
libero eros. Aliquam a enim eleifend, fermentum augue at, dignissim lacus. Duis
nec purus sem. Nullam in rhoncus purus. Nulla tincidunt enim purus, nec
malesuada tellus scelerisque ultricies. Vestibulum ullamcorper viverra
vulputate. Fusce tempus arcu at egestas vulputate.

Pellentesque dolor lacus, suscipit non neque euismod, suscipit eleifend urna.
Duis ac imperdiet lacus. Aliquam hendrerit quam leo, a convallis libero sodales
eu. Vestibulum in nunc lorem. Praesent volutpat rhoncus finibus. Morbi tincidunt
ipsum eu leo accumsan, vel eleifend ex aliquam. Phasellus non leo vestibulum,
laoreet est eget, aliquam velit. Integer ut massa turpis. Vivamus eu lectus
justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget elit
et felis ornare dapibus. Nam mollis eleifend ipsum quis aliquet. Sed efficitur
nisi in velit aliquam, sed venenatis nibh varius. Donec ac nisi a justo
tincidunt iaculis. Praesent maximus erat et tortor laoreet auctor. Fusce vitae
iaculis lorem.

Cras iaculis tellus risus, vel mollis diam semper vitae. Nullam lacinia quam ut
tellus suscipit auctor. Aenean vitae mattis mi. Vestibulum ultrices nisi eget
nibh molestie ultricies. Nulla eleifend, dui eget vehicula mattis, justo arcu
iaculis ex, et laoreet erat diam eget nisl. Nulla cursus turpis dapibus nisi
ullamcorper, eu gravida augue dictum. Praesent condimentum tellus eget tellus
consectetur, at consequat augue sollicitudin. Quisque euismod luctus risus, vel
vulputate ex eleifend laoreet. Pellentesque dignissim eu dolor eu gravida.
Quisque vel ante tristique massa hendrerit vestibulum. Vivamus mollis ac mi sit
amet fermentum. Cras tempor turpis et feugiat egestas. Cras rutrum ligula vel
enim iaculis, eget congue sapien consequat. Donec ullamcorper nulla ligula, at
aliquet tortor convallis at. Phasellus fringilla lacus ipsum, cursus finibus
arcu congue in. Orci varius natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus.

Sed vitae euismod velit, accumsan pharetra eros. Morbi semper tempor justo, a
eleifend arcu commodo quis. Curabitur rhoncus libero ut neque blandit, vitae
ullamcorper leo sodales. Sed convallis, quam in congue rutrum, eros lectus
faucibus sapien, id consectetur tellus urna non massa. Duis placerat massa id
dapibus dignissim. Proin risus augue, euismod sed tortor a, ultricies
consectetur magna. Donec varius dignissim urna vel imperdiet. Sed lacinia, dui
vel elementum commodo, dolor mi viverra ipsum, eu congue turpis felis non velit.
Phasellus sed enim sed nulla mollis ultricies a nec tortor. Donec tempus turpis
nisl. Curabitur fringilla sapien vitae elementum faucibus. Sed in gravida neque.
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
turpis egestas. Duis mattis purus massa, eget faucibus arcu vehicula at.

Nam bibendum leo tellus, non commodo dolor cursus efficitur. Nulla tristique
pellentesque ante, pretium auctor justo feugiat at. Ut at erat ut eros sodales
feugiat ornare eget ante. Phasellus id porta quam. Duis viverra diam quis ipsum
accumsan dapibus. Vivamus finibus tincidunt libero, sit amet fringilla erat
auctor at. Vivamus eget porta ex, sed molestie tellus. Nullam tempus dignissim
arcu, sed ullamcorper nulla ultricies sit amet. Phasellus posuere dolor eu arcu
pellentesque condimentum. Sed pellentesque vel nunc et sagittis. Nulla non quam
urna. Sed eget sem dapibus, dictum ante eget, sagittis lorem.

Morbi accumsan lectus eget eleifend mattis. Cras ornare pulvinar nisl. Praesent
pulvinar ac odio at cursus. Nulla ut rhoncus libero. Vivamus mi orci, venenatis
aliquam sapien quis, venenatis facilisis augue. Donec ut consectetur lorem.
Integer aliquam pellentesque est, eu tempor nisi porta quis. Vivamus et
condimentum velit. Morbi sed vulputate lacus. Mauris suscipit fringilla orci, et
porttitor augue pulvinar efficitur.

Mauris tincidunt odio est, at sollicitudin augue posuere varius. Donec
pellentesque eleifend turpis, sed ullamcorper eros feugiat ut. Nunc arcu arcu,
dictum quis tincidunt in, porta et ex. Sed imperdiet laoreet magna vitae
ultricies. Nullam malesuada tincidunt erat. In sollicitudin massa ullamcorper,
eleifend turpis eu, pretium justo. Mauris sit amet malesuada metus. Aliquam at
accumsan nunc, in rutrum odio. Donec quis ipsum lorem. Praesent eu vulputate
ligula. Aliquam scelerisque rutrum ultricies. Sed in convallis ipsum. Etiam
convallis porta sapien, eget consectetur orci dapibus non.

Morbi consequat sapien tortor, non ultricies elit malesuada imperdiet. Interdum
et malesuada fames ac ante ipsum primis in faucibus. Nunc tristique ultrices
justo vitae tristique. Donec tempus tortor eu dui pellentesque vestibulum.
Mauris imperdiet ac augue ut feugiat. Nulla mauris velit, posuere fringilla dui
quis, maximus blandit augue. Donec tortor lorem, varius quis nulla nec, maximus
feugiat est. Pellentesque habitant morbi tristique senectus et netus et
malesuada fames ac turpis egestas. Sed nulla erat, maximus id leo ut, volutpat
aliquam velit. Sed ullamcorper felis quis odio lacinia, et suscipit dolor
mollis. Quisque vel quam arcu. Donec at ante sed dolor tincidunt bibendum a nec
orci. Donec elementum rhoncus tellus, eget rhoncus neque egestas id. Fusce
auctor ex sed suscipit ultricies.
</div>
{% endblock %}

{% block footer %}
{% endblock %}
