{% load static %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/socialprofile.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!--<script src='{% static "js/jquery-1.12.1.min.js" %}'></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->




    <title>{% block title %}{% endblock %}</title>

    {% block metatags %}
    {% endblock %}
    {% if debug %}
        <script type="text/javascript">
            var isDebug = true;
        </script>
    {% else %}
        <script type="text/javascript">
            var isDebug = false;
        </script>
    {% endif %}
{% block head %}{% endblock %}
    <script>
        /* Fix Facebook Appending Hash */
        if (window.location.hash == "#_=_")
            window.location.hash = "";
    </script>

</head>
<body {% block body_class %}{% endblock %}>
    <script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src='{% static "bootstrap/js/bootstrap.js" %}'></script>

<section {% block page_role %}data-role="page"{% endblock %}>


    {% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <div class='container'>
      <a class="navbar-brand" href="{% url 'sp_profile_view_page' %}">
        {% if user.social_profile.avatar %}
            <img src="{{ MEDIA_URL }}{{ user.social_profile.avatar }}" style="width: 30px; height: 30px" class="d-inline-block align-top" alt=''>
        {% elif user.social_profile.image_url %}
            <img src="{{ user.social_profile.image_url }}" style="width: 30px; height: 30px" class="d-inline-block align-top" alt=''>
        {% else %}
            <img src="{{ sp_form.image_url.value|default:"http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm" }}" style="width: 30px; height: 30px" class="d-inline-block align-top" alt=''>
        {% endif %}

        {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
      </a>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapseLinks' aria-expanded='false' aria-label='Toggle Navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>




      <div class='collapse navbar-collapse navbar-toggleable-md' id='navbarCollapseLinks'>
        <ul class='navbar-nav'>
          <li class='nav-item'>
            <a href='{% url "home" %}' class='nav-link'>Главная</a>
          </li>
          <li class='nav-item'>
            <a href='{% url "about_us" %}' class='nav-link'>Инфо</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Профиль
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'sp_profile_edit_page' %}">Настройка профиля</a>
              <a class="dropdown-item" href="{% url 'change_password' %}">Смена пароля</a>
              <a class="dropdown-item" href="{% url 'auth_logout' %}">Выйти</a>
            </div>
          </li>

        </ul>

      
        <form class="form-inline ml-auto" class="post-form">
          <div class="input-group">
          <input class="form-control" type="text" placeholder="Поиск по сайту" aria-label="Search">
          <span class="input-group-btn"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">Поиск</button></span>
          </div>
        </form>
      </div>
  </div>
</nav>

    {% else %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
   <div class='container'>
        <h4 class="navbar-brand">Здравствуйте, Аноним</h4>

        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapseLinks' aria-expanded='false' aria-label='Toggle Navigation'>
        <span class='navbar-toggler-icon'></span>
        </button>

          <div class='collapse navbar-collapse' id='navbarCollapseLinks'>
            <ul class='navbar-nav ml-auto'>
              <li class='nav-item'>
                <a href='{% url "auth_login" %}' class='nav-link'>Войти</a>
              </li>
              <li class='nav-item'>
                <a href='{% url "registration_register" %}' class='nav-link'>Зарегистрироваться</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    {% endif %}


    {% block title_in_body %}{% endblock %}

    {% block header %}{% endblock %}
    {% block content %}{% endblock %}

    {% block messages %}
    {% endblock %}
    {% block footer %}
    {% if not user.is_authenticated %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'images/pyth-django-mount.jpg' %}" alt="First slide">
        <div class="carousel-caption">
          <button type="button" class="btn btn-outline-success" style="background-color: #cfef9e;" onclick="location.href='{% url "registration_register" %}'">Зарегистрироваться</button>
          <h3>Приветствую! Меня зовут underproof и я веб-разработчик.</h3>
          <h6>Если вы хотите ознакомиться с возможностями моего сайта на Django, пожалуйста зарегистрируйтесь и осуществите вход</h6>

        </div>
      </div>
    </div>
    </div>
    {% endif %}

    <hr>

    {% endblock %}
    {% block afterbody %}
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <h6 class="navbar-text pull-left">© 2017 - Site Built By underproof

          </h6>

          <button type="button" class="btn btn-danger btn-xs button-image ui-icon-Youtube" onclick='location.href="https://www.youtube.com/channel/UCZ03_XaJDmYrRBrprK2-j4A"'><span class="d-none d-sm-inline-block">Subscribe on YouTube</span></button>
    </div>

    {% endblock afterbody %}


</section>




</body>
</html>

