{% extends "base.html" %}
{% load i18n %}
{% block title %}Изменить пароль{% endblock %}
{% block title_in_body %}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading text-center">
  Изменить пароль
  </h4>
</div>
{% endblock %}
{% block content %}


<form action="" method="post" class="post-form">
{% csrf_token %} 
<div class="container">
  <div class="form-group">

    {% for field in form %}
    	<div class="row">
        <div class="form-group col-lg-6 col-xs-1">
            

            <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>

            <input class="form-control input-sm" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="password" /> 
            {{ field.errors }}
            {% if field.help_text %}
        		<small class="form-text text-muted">{{ field.help_text|safe }}</small>
        	{% endif %}
            
        </div>
        </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Сохранить изменения</button>
  <input type="button" class="btn btn-default" onclick="location.href='/'" value='Вернуться'>
</div>
</form>

{% endblock %}
