{% extends "base.html" %}
{% load i18n %}
{% load socialprofile_tags %}

{% block title %}Текущее время{% endblock %}
{% block title_in_body %}{% endblock %}
{% block content %}

<div class='container-fluid'>
    <div class='row'>
        <div class='col-12'>
            <div class="alert alert-secondary text-center" role="alert">
            	Текущее время: {{ current_date }}
            </div>
        </div>

    </div>


    <div class='row'>
        <div class='col-11 mx-auto col-lg-2'>           
            <a role="button" class="btn btn-dark btn-lg" href="{% url 'chat_index:select_room' %}">{% trans "Комнаты" %}</a>
        </div>

        <div class='col-11 col-lg-8 mx-auto' >
            <div class="alert alert-primary" role="alert" style='min-height: 400px;'>           
              	<a role="button" class="btn btn-dark btn-block" href="{% url 'chat_index:chat_list_rooms' %}">{% trans "Работа со списком" %}</a>
            </div>
        </div>
        
        <div class='col-11 col-lg-2 mx-auto'>
            <a role="button" class="btn btn-dark btn-lg" href="{% url 'friend_index:friend_index' %}">{% trans "Друзья" %}</a>
        </div>

    </div>
</div>


{% endblock %}

{% block afterbody %}
<div class='row mx-auto'>
	<p class="quiet">
   		<code>Вы можете посетить {{ request.scheme }}://{{ request.get_host }}/chat/any-path-you-want для вступления в желаемый чат.</code>
	</p>
</div>


{% endblock %}