{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block title_in_body %}
<div class="alert alert-danger alert-dismissible mb-0 pb-0" role="alert">
  <h4 class="alert-heading">
    <center>
      Аутентификация
    </center>
  </h4>

</div>
{% endblock %}
{% block page_role %}{% endblock %}
{% block content %}






<form action="" method="post" class="post-form">
{% csrf_token %}
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 class="modal-title">Аутентификация</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>

            <div class="modal-body">
                        
              <div class="form-group">
              <div class="container">
              
              {% for field in form %}
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4">  
                    <b>{{ field.label_tag }}</b>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-lg-2"> 
                    {{ field }}
                    </div>

                  </div>
                   
              {% endfor %}
              {% if form.errors %}
                {{ form.non_field_errors }}
                <p><a href="{% url 'password_reset_recover' %}">Забыли пароль? Восстановить.</a></p>
                
              {% endif %}
              
              </div>
              </div>
          
            
              
              <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
                  
                  <button type="submit" class="btn btn-outline-dark icon-custom">Войти</button>
                  <button type="reset" class="btn btn-outline-dark icon-custom">Очистить</button>
                  <button type="button" class="btn btn-outline-dark icon-custom" onclick="location.href='../register'">Регистрация</button>

                  
                 
              </div>
          

            </div>
            
            <div class="modal-footer">

                        
              <div class="btn-toolbar" role="toolbar" aria-label="Social">
                
                      <!-- 3-D Flip Downward-->
                      <div class="button-container button-flip3d-vertical1">
                          <a href="{% url 'social:begin' backend='google-oauth2' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}">
                          <div class="flipper flipper-flip3d-vertical1">
                              <div class="button front">
                                   <i class="button-image ui-icon-googleplusB"></i>
                              </div>
                              <div class="button button-3d back">
                                  Google
                              </div>
                          </div>
                          </a>
                      </div>
                      
                      <!-- 3-D Flip Upward-->
                      <div class="button-container button-flip3d-vertical2">
                          <a href="{% url "social:begin" 'twitter' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}">
                          <div class="flipper flipper-flip3d-vertical2">
                              <div class="button front">
                                  <i class="button-image ui-icon-twitterB"></i>
                              </div>
                              <div class="button button-3d back">
                                  Twitter
                              </div>
                          </div>
                          </a>
                      </div>
                      <!-- 3-D Flip Downward-->
                      <div class="button-container button-flip3d-vertical1">
                          <a href="{% url "social:begin" 'facebook' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}">
                          <div class="flipper flipper-flip3d-vertical1">
                              <div class="button front">
                                   <i class="button-image ui-icon-facebookB"></i>
                              </div>
                              <div class="button button-3d back">
                                  Facebook
                              </div>
                          </div>
                          </a>
                      </div>
                      
                      <!-- 3-D Flip Upward-->
                      <div class="button-container button-flip3d-vertical2">
                          <a href="{% url "social:begin" 'vk-oauth2' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}">
                          <div class="flipper flipper-flip3d-vertical2">
                              <div class="button front">
                                  <i class="button-image ui-icon-VkB"></i>
                              </div>
                              <div class="button button-3d back">
                                  Vk
                              </div>
                          </div>
                          </a>
                      </div>
                      <!-- 3-D Flip Downward-->
                      <div class="button-container button-flip3d-vertical1">
                          <a href="{% url "social:begin" 'odnoklassniki-oauth2' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}">
                          <div class="flipper flipper-flip3d-vertical1">
                              <div class="button front">
                                   <i class="button-image ui-icon-OdnoklassnikiB"></i>
                              </div>
                              <div class="button button-3d back">
                                  Ok
                              </div>
                          </div>
                          </a>
                      </div>
                


              </div>

                      
                      


            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}


{% block afterscripts %}
<script type="text/javascript">

$(document).ready(function() {
    $("#myModal").modal('show');

    

    
    $('.button-container, .switch-container').bind('touchstart mousedown', function(e){
    });
    

    
    slideSwitch();
    
});




// Update slide switch highlight
function slideSwitch() {
    $('.switch-slide').on('click', function() {
        
    var activeSpan = $('.switch-toggle-slide .active');

    if (activeSpan.css('left') == '0px') {
        activeSpan.css('left', '50%');
    }
    
    if (activeSpan.css('left') == '125px') {
        activeSpan.css('left', '0');
    }
    
    if ($(this).hasClass('active-switch')) {
        $('.switch-slide').addClass('active-switch')
        $(this).removeClass('active-switch');
    }
    else {
        $('.switch-slide').removeClass('active-switch')
        $(this).addClass('active-switch');
    }
    });
}
</script>
{% endblock %}