{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block title_in_body %}
<div class="alert alert-danger alert-dismissible mb-0 pb-0" role="alert">
  <h4 class="alert-heading">
    <center>
      Аутентификация
    </center>
  </h4>
</div>
{% endblock %}
{% block page_role %}{% endblock %}
{% block content %}

<script type="text/javascript">
  $(document).ready(function(){
    $("#myModal").modal('show');
  });
</script>
<form action="" method="post" class="post-form">
{% csrf_token %}
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h4 class="modal-title">Аутентификация</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
            </div>

            <div class="modal-body">
                        
              <div class="form-group">
              <div class="container">
              
              {% for field in form %}
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4">  
                    <b>{{ field.label_tag }}</b>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-lg-2"> 
                    {{ field }}
                    </div>

                  </div>
                   
              {% endfor %}
              {% if form.errors %}
                {{ form.non_field_errors }}
                <p><a href="{% url 'password_reset_recover' %}">Забыли пароль? Восстановить.</a></p>
                
              {% endif %}
              
              </div>
              </div>
          
            </div>
              
              <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
                
                <button type="submit" class="btn btn-dark icon-custom">Войти</button>
                <button type="reset" class="btn btn-default icon-custom">Очистить</button>
                <button type="button" class="btn btn-success icon-custom" onclick="location.href='../register'">Регистрация</button>
              </div>
          

            </div>
            
            <div class="modal-footer">
                        
            <div class="btn-toolbar" role="toolbar" aria-label="Social example">

              <button type="button" class="btn btn-danger icon-custom btn-xs  button-image ui-icon-googleplusB" onclick='location.href="{% url 'social:begin' backend='google-oauth2' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}"'>Google</button>

              <button type="button" class="btn btn-info icon-custom btn-xs button-image ui-icon-twitterB" onclick='location.href="{% url "social:begin" 'twitter' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}"'>Twitter</button>
              
              <button type="button" class="btn btn-primary icon-custom btn-xs button-image ui-icon-facebookB" onclick='location.href="{% url "social:begin" 'facebook' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}"'>Facebook</button>              

              <button type="button" style="background-color:#45668e; border-color: #45668e #45668e #45668e;" class="btn btn-primary icon-custom btn-xs button-image ui-icon-VkB" onclick='location.href="{% url "social:begin" 'vk-oauth2' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}"'>VK</button>  

              <button type="button" style="color:white" class="btn btn-warning icon-custom btn-xs button-image ui-icon-OdnoklassnikiB" onclick='location.href="{% url "social:begin" 'odnoklassniki-oauth2' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}"'>OK</button> 


            </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
