{% extends "base.html" %}
{% load i18n %}
{% block title %}Регистрация{% endblock %}
{% block title_in_body %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">
    <center>
    	Регистрация
	</center>
  </h4>
</div>
{% endblock title_in_body %}

{% block content %}
<form method="post" class="post-form" action="">
{% csrf_token %}
<dl class="register">
{% for field in form %}

    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>

<div class="btn-toolbar" role="toolbar">
	<button type="submit" class="btn btn-dark">Зарегистрироваться</button>
	<button type="reset" class="btn btn-default">Очистить</button>
	<button type="button" class="btn btn-success" onclick="location.href='../login'">Войти</button>
</div>

</form>
{% endblock %}