{% extends "base.html" %}
{% load i18n %}
{% block title %}Регистрация{% endblock %}
{% block title_in_body %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">
    <center>
    	Регистрация
	</center>
  </h4>
</div>
{% endblock title_in_body %}

{% block content %}
<form method="post" class="post-form" action="">
{% csrf_token %}

{% for field in form %}

    <div class="row">
    <div class="form-group col-6 mx-5">
          

          <b>{{ field.label_tag }}</b>
          <br>
          
          {{ field.errors }}
          {{ field }}
          {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text|safe }}</small>
          {% endif %}
          
      </div>
      </div>

{% endfor %}




<div class="btn-toolbar mx-5" role="toolbar">
	<button type="submit" class="btn btn-dark">Зарегистрироваться</button>
	<button type="reset" class="btn btn-default">Очистить</button>
	<button type="button" class="btn btn-success" onclick="location.href='../login'">Войти</button>
</div>

</form>
{% endblock %}

{% block footer %}
<hr>
{% endblock %}