{% extends "base.html" %}
{% load i18n %}
{% load socialprofile_tags %}
{% load static %}


{% block content %}
<h1>Бесконечный скроллинг Twitter-style</h1>

{% include page_template %}

{% block js %}
    {{ block.super }}
    <script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>

{% endblock %}

{% endblock content %}

{% block afterbody %}

{% endblock afterbody %}
