{% extends "base.html" %}

{% block content %}
  {% load static %}
  <p>Вернуться к <a href = "{% url 'chat_index:chat_list_rooms' %}">списку доступных каналов</a></p>
  <h1>{{ room.label }}</h1>
  <p class="quiet">
    Каждый зарегистрированный пользователь может воспользоваться этой ссылкой для чата: 
    <code>{{ request.scheme }}://{{ request.get_host }}/chat/{{ room.label }}</code> 
  </p>
  <p>
    <label for="handle">Your name:</label>
    <div id = "handle" type="text" placeholder="handle"><h1><code>{{ user.username }}</code></h1></div>
    <!--<input id="handle" type="text" placeholder="handle">-->
  </p>
  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Скажи что-нибудь ({{ user.username }}):</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          <button type="submit" id="go">Say it</button>
        </td>
      </tfoot>
    </table>
  </form>

<script type="text/javascript" src='{% static "js/jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script>
$(function() {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    
    
    var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
    
    chatsock.onmessage = function(message) {

        console.log("Got websocket message " + message.data);
        var data = JSON.parse(message.data);
        var chat = $("#chat")
        var ele = $('<tr></tr>')

        if (data.error) {
            alert(data.error);
        return;
        }



        ele.append(
            $("<td></td>").text(data.timestamp)
        )
        ele.append(
            $("<td></td>").text(data.handle)
        )
        ele.append(
            $("<td></td>").text(data.message)
        )
        
        chat.append(ele)
    };

    $("#chatform").on("submit", function(event) {
        var message = {
            "command": "send",
            "room": $('{{ room.label }}'),
            /*handle: $('#handle').val(),*/
            message: $('#message').val(),
        }
        chatsock.send(JSON.stringify(message));
        $("#message").val('').focus();

        return false;
    });

    // Says if we joined a room or not by if there's a div for it
    inRoom = function (roomId) {
        return $("#room-" + roomId).length > 0;
    };

    // Room join/leave
    $("li.room-link").click(function () {
        roomId = $(this).attr("data-room-id");
        if (inRoom(roomId)) {
            // Leave room
            $(this).removeClass("joined");
            chatsock.send(JSON.stringify({
                "command": "leave",
                "room": roomId
            }));
        } else {
            // Join room
            $(this).addClass("joined");
            chatsock.send(JSON.stringify({
                "command": "join",
                "room": roomId
            }));
        }
    });
    // Helpful debugging
    chatsock.onopen = function () {
        console.log("Connected to chat socket");
    };
    chatsock.onclose = function () {
        console.log("Disconnected from chat socket");
    }

});  
</script>
{% endblock content %}

{% block afterbody %}

{% endblock afterbody %}