{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load socialprofile_tags %}

{% block content %}

  <p>Вернуться к <a class="roomlink" href = "{% url 'chat_index:chat_list_rooms' %}">списку доступных каналов</a></p>
  <h1>{{ room }}</h1>

  <p class="quiet">
    Каждый зарегистрированный пользователь может воспользоваться этой ссылкой для чата: 
    <code>{{ request.scheme }}://{{ request.get_host }}/chat/{{ room.id }}/</code> 
  </p>
  <p>
    <div id = "handle" class = "handle" type="text" placeholder="handle" data-user = "{{ user.username }}"><h1><code>{{ user.username }}</code></h1></div>
    <!--<input id="handle" type="text" placeholder="handle">-->
  </p>
  <form id="chatform">
    

<div data-role="controlgroup" data-type="horizontal">
    <input type="text" id="message" data-wrapper-class="controlgroup-textinput ui-btn">
    <button type="submit" id="go" data-icon="check">Отправить</button>
</div>

<br>


    
  </form>
<div id="chats" data-room-id="{{ room.id }}" class='chats'>
        {% for message in messages %}
            <div class='messages'>
            {% if user.username == message.handle %}
                <img class='sp-profile-img-selfchat' src='{{ message.image_url }}'>
                <span class='selfmessages'>{{ message.id }}) {{ message.message }}</span>
                <br>
                <span class='selfusername'>{{ message.handle }}</span>
                <span class='selfdate'>[{{ message.formatted_timestamp }}]</span>
                <span class='clearing'></span>
                <br>
            {% else %}
                <img class='sp-profile-img-chat' src='{{ message.image_url }}'>
                <span class='message'>{{ message.id }}) {{ message.message }}</span>
                <br>
                <span class='username'>{{ message.handle }}</span>
                <span class='udate'>[{{ message.formatted_timestamp }}]</span>
                <span class='clearing'></span>
                <br>
            {% endif %}   
            </div>
        {% endfor %}
</div>


<script type="text/javascript" src='{% static "js/jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/chat.js" %}'></script>

{% endblock content %}

{% block afterbody %}

{% endblock afterbody %}