{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load socialprofile_tags %}

{% block content %}

  <p>Вернуться к <a class="roomlink" href = "{% url 'chat_index:chat_list_rooms' %}">списку доступных каналов</a></p>
  <h1>{{ room }}</h1>

  <p class="quiet">
    Каждый зарегистрированный пользователь может воспользоваться этой ссылкой для чата: 
    <code>{{ request.scheme }}://{{ request.get_host }}/chat/{{ room.id }}/</code> 
  </p>
  <p>
    <div id = "handle" type="text" placeholder="handle"><h1><code>{{ user.username }}</code></h1></div>
    <!--<input id="handle" type="text" placeholder="handle">-->
  </p>
  <form id="chatform">
    

<div data-role="controlgroup" data-type="horizontal">
    <input type="text" id="message" data-wrapper-class="controlgroup-textinput ui-btn">
    <button type="submit" id="go" data-icon="check">Отправить</button>
</div>

<br>


    
  </form>
<div id="chats" data-room-id="{{ room.id }}" class='chats'>
        {% for message in messages %}
            <div class='messages'>
            {% if user.username == message.handle %}
                <span class='selfmessages'>{{ message.id }}) {{ message.message }}</span>
                <br>
                <span class='selfusername'>{{ message.handle }}</span>
                <span class='selfdate'>[{{ message.formatted_timestamp }}]</span>
                <span class='clearing'></span>
                <br>
            {% else %}
                <span class='message'>{{ message.id }}) {{ message.message }}</span>
                <br>
                <span class='username'>{{ message.handle }}</span>
                <span class='udate'>[{{ message.formatted_timestamp }}]</span>
                <span class='clearing'></span>
                <br>
            {% endif %}   
            </div>
        {% endfor %}
</div>


<script type="text/javascript" src='{% static "js/jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script>
$(function() {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    
    
    var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
    


    chatsock.onmessage = function(message) {

        console.log("Got websocket message " + message.data);
        var data = JSON.parse(message.data);
        var chat = $("#chats")

        
        if (data.error) {
            alert(data.error);
        return;
        }
        var fromdb = $(data.history);
                
        //creating array from history
        var arr = [];

        $.each(fromdb, function(key) {
                    
            var mess = "";
            var selfmess = "";
            var alymess = "";

            //message from history with editting   
            if (fromdb[key].handle == "{{ user.username }}") {
                selfmess += "<span class='selfmessages'>" + fromdb[key].messageid + ') ' + fromdb[key].message + "</span>" + "<br>" + "<span class='selfusername'>" + fromdb[key].handle + "</span>" + "<span class='selfdate'>[" + fromdb[key].now + "]</span><br>" ;
                        
            } else {
                alymess += "<span class='message'>" + fromdb[key].messageid + ') ' + fromdb[key].message + "</span>"  + "<br>" + "<span class='username'>" + fromdb[key].handle + "</span>" + "<span class='udate'>[" + fromdb[key].now + "]</span>" + "<span class='clearing'></span>" + "<br>";
                        
            }

            mess = selfmess + alymess
                    
            arr.push(mess); 
                                                        
        });
                        //add new message to array from history
                if (data.messageid === undefined && data.message !== null) {
                    

                    if (data.message) {
                        if (data.username == "{{ user.username }}") {
                            arr.unshift("<span class='selfmessages'>" + data.msgid + ') ' + data.message + "</span>" + "<br>" + "<span class='selfusername'>" + data.username + "</span>" + "<span class='selfdate'>[" + data.now + "]</span><br>");
                        } else {
                            arr.unshift("<span class='message'>" + data.msgid + ') ' + data.message + "</span>" + "<br>" + "<span class='username'>" + data.username + "</span>" + "<span class='udate'>[" + data.now + "]</span><br>" );
                        }
                    
                    }
                } else {
                    arr.push(data.message+data.messageid);
                    
                }
        //check for NaN, remove NaN from array
        function bouncer(arr) {
            return arr.filter( function(v){return !(v !== v);});
        }
        var roomdiv = $("<div class='messages'>"+ bouncer(arr).join(' ') + "</div>");

        roomdiv.scrollTop(roomdiv.prop("scrollHeight"));
        $("#chats").html(roomdiv);

    };


    $("#chatform").on("submit", function(event) {
        var message = {
            "command": "send",
            "room": $("div.chats").attr("data-room-id"),
            /*handle: $('#handle').val(),*/
            message: $('#message').val(),
        }
        chatsock.send(JSON.stringify(message));
        $("#message").val('').focus();

        return false;
    });

    
    $("a.roomlink").click(function () {
        chatsock.send(JSON.stringify({
            "command": "leave",
            "room": $("div.chats").attr("data-room-id"),
        }));
    });
    // Helpful debugging
    chatsock.onopen = function () {
        console.log("Connected to chat socket");
    };
    chatsock.onclose = function () {
        console.log("Disconnected from chat socket");
    }

});  
</script>
{% endblock content %}

{% block afterbody %}

{% endblock afterbody %}