{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load socialprofile_tags %}

{% block content %}
<!-- for refresh page -->
<meta http-equiv="Cache-Control" content="private"> 

<div class="container-fluid">
  <div class="row">

  <div class="col">
    
    <a href="{% url 'chat_index:title_room' %}" role="button" class="btn btn-dark btn-block" >{% trans "Создать комнату" %}</a>
    <br>
    <h4> Настроить созданные вами чаты </h4>
    {% for room_owner in room_owners %}
      {% if room_owner.private %}
        <a href="{% url 'chat_index:private_room' pk=room_owner.id %}" ><button type="button" class="btn btn-dark btn-block">{{ room_owner }}</button></a> 
    
      {% else %}
        <a href="{% url 'chat_index:private_room' pk=room_owner.id %}" ><button type="button" class="btn btn-outline-dark btn-block">{{ room_owner }}</button></a> 
      {% endif %}
    {% empty %}
      <center><p class="empty">Вы не создавали комнат</p></center>

    {% endfor %}
    <br>
  </div>
  <div class="col">

  {% for room_invite in room_invites %}
    {% if room_invite.agree == 0 %}  
    Вас приглашают в чат: <b>{{ room_invite.acceptroom }}</b>
    <a href="{% url 'chat_index:accept_members' pk=room_invite.acceptroom_id operation='agree' pkid=request.user.id %}" > 
    <button type="button" class="btn btn-dark btn-block">Принять</button></a>
    <a href="{% url 'chat_index:accept_members' pk=room_invite.acceptroom_id operation='disagree' pkid=request.user.id %}" > 
    <button type="button" class="btn btn-outline-dark btn-block">Отклонить</button></a>
    {% endif %}
  {% empty %}
    <center><p class="empty">Приглашения отсутствуют</p></center>  
  {% endfor %} <br>  
  </div>
  
  <div class="col">
  
  <h4> Ваши приватные чаты </h4>

  <ul class="rooms">
  {% for room_owner in room_owners %}
    {% if room_owner.private %}
    <li class="room-link" name='q' data-room-id="{{ room_owner.id }}" style="background: #ddd"><a href = '{{ request.scheme }}://{{ request.get_host }}/chat/{{ room_owner.id }}/'>{{ room_owner }}</a></li>      
    {% endif %}  
     
  {% endfor %}
  <br>
  {% for room_member in room_members %}
    <li class="room-link" name='q' data-room-id="{{ room_member.acceptroom_id }}" style="background: #ddd"><a href = '{{ request.scheme }}://{{ request.get_host }}/chat/{{ room_member.acceptroom_id }}/' >{{ room_member.acceptroom }}</a><button onclick='location.href="{% url 'chat_index:accept_members' pk=room_member.acceptroom_id operation='leave' pkid=request.user.id %}"' class="btn btn-default btn-sm"><b>X</b></button></li>
  {% endfor %}
  <br>
  </ul>

  <h4> Все доступные чаты </h4>
  <ul class="rooms">
  {% for general_room in general_rooms %}
    <li class="room-link" name='q' data-room-id="{{ general_room.id }}" ><a href = '{{ request.scheme }}://{{ request.get_host }}/chat/{{ general_room.id }}/'>{{ general_room.label }}</a></li>
  {% endfor %}
  {% for room_owner in room_owners %}
    {% if room_owner.private %}
    <li class="room-link" name='q' data-room-id="{{ room_owner.id }}" style="background: #ddd"><a href = '{{ request.scheme }}://{{ request.get_host }}/chat/{{ room_owner.id }}/'>{{ room_owner }}</a></li>  
    {% endif %}
     

  {% endfor %}
  {% for room_member in room_members %}
    <li class="room-link" name='q' data-room-id="{{ room_member.acceptroom_id }}" style="background: #ddd"><a href = '{{ request.scheme }}://{{ request.get_host }}/chat/{{ room_member.acceptroom_id }}/'>{{ room_member.acceptroom }}</a></li>
  {% endfor %}
  </ul>
  <br>


  <h4> Все чаты </h4>
  <ul class="rooms">
  {% for room in rooms %}
    <li class="room-link" name='q' data-room-id="{{ room.id }}"><a href = '{{ request.scheme }}://{{ request.get_host }}/chat/{{ room.id }}/'>{{ room.label }} </li> 
  {% endfor %}
  </ul>
  <br>


  </div>
  </div>  

</div>




{% endblock content %}